
<html>
    <head>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400i" rel="stylesheet">
    <title>Holy Grail Layout</title>       
        <link rel="stylesheet" href = "stylesheets/style.css">

    </head>
    <div class="container">
        <div class="header">
            
          <a href="">Nav Left</a>
          
          <a href="">Nav Right</a>
        </div>
        
        <main class="main">
          <nav>SIDE NAV</nav>
          <article>MAIN CONTENT</article>
          <aside>ASIDE</aside>
        </main>
        <footer class="footer">FOOTER</footer>
    </div>

</html>